<%- include('./subheader'); %>

<div class="uk-card-body">
  <h2>
    Need some ideas?
  </h2>
  <p>
    32 boroughs of London and the City of London will be randomly selected for you and show some famous spots there or celebrites who live in or from the borough following with the median rents per month and the count of rents.
  </p>
</div>
<div class="uk-card uk-card-default">
  <div class="uk-card-media-top uk-margin-top">
    <img src="../images/<%= ideas.image_file %>" width="1800" height="1200" alt="">
  </div>
  <div class="uk-card-body">
    <h3 class="uk-card-title"><%= ideas.Borough %></h3>
    <p>
      (Please note: this is for the <strong>Studio</strong> room type.)
    </p>
    <p>Median monthly rents: <%= ideas.median %></p>
    <p>Count of rents: <%= ideas.count %></p>

    <p uk-margin>
        <a class="uk-button uk-button-secondary" href="http://localhost:5000/ideas">Find a new one</a>
    </p>
  </div>
</div>

<footer >
  <%- include('./footer'); %>
</footer>

</body>
</html>
